<ion-header>
    <ion-toolbar>
    <ion-title>Insérer un produit</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-text-center ion-padding">

    <form [formGroup]="productForm" (ngSubmit)="onInsertProduct()"> 
         <p>
            <ion-label> Nom Produit: </ion-label>
            <ion-input id="productName" required type="text" formControlName="productName" placeholder="Entrez votre nom" required></ion-input>
        </p>
        <div *ngIf="productForm.get('productName').invalid && (productForm.get('productName').dirty || productForm.get('productName').touched)">
           <div *ngIf="productForm.get('productName').errors.required">
                The name is required
            </div>
           <div *ngIf="productForm.get('productName').errors.minlength as minlength">
                The name should be at least {{ minlength.requiredLength }} (actual: {{ minlength.actualLength }})
            </div> 
            <div *ngIf="productForm.get('productName').errors.maxlength as maxlength">
                The name should be {{ maxlength.requiredLength }} max length (actual: {{ maxlength.actualLength }})
            </div>
        </div>
        <p>
            <ion-label> Description: </ion-label>
            <ion-input id="description" type="text" formControlName="description" placeholder="Entrez votre description" required></ion-input>
        </p>
        <p>
            <ion-label> Prix: </ion-label>
            <ion-input id="price" type="number" formControlName="price" placeholder="Entrez un prix" required></ion-input>    
        </p>
        <p class="ion-text-center">
            <ion-label> Image: </ion-label>
            <ion-input 
                id="imageUrl" 
                name="imageUrl" 
                type="file" 
                formControlName="imageUrl"
                (change)="onFileChange($event)"
                accept="image/*"
                required
            ></ion-input>
        </p>

        <div>
            <img [src]="uploadedImgURL" alt="" style="width: 150px;" />
        </div> 
        
        <ion-button type="submit" [disabled]="productForm.invalid">Enregistrer</ion-button>
    </form>
</ion-content>
