<h3>Les réservations </h3>

<div *ngIf="reservations.length === 0; else resaList">
    loading...
  </div>
<div>
    <input type="text" name="search" [(ngModel)]="searchReservation" placeholder="Start searching">
</div>

<ng-template #resaList>
    <div *ngFor="let res of reservations">
      <div>Nom : {{ res.name }}</div>
      <div>
        <button
          mat-stroked-button
          color="primary"
        
        >
          +
        </button>
        {{ res.type }}
      </div>
      <br />
    </div>
  
  </ng-template>