<ion-header>
    <ion-toolbar>
    <ion-title>Editer un admin</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-text-center ion-padding">
    <div>
    <form [formGroup]="userForm" (ngSubmit)="onUpdateReservation()">      
         <p>
             <ion-label>Type de privilège</ion-label>
             <ion-select placeholder="Selectionner un type de privilège" formControlName="type">
                <ion-select-option value="admin">Admin</ion-select-option>
                <ion-select-option value="superAdmin">SuperAdmin</ion-select-option>
            </ion-select>
         </p> 
         <!-- <p>
            <ion-label>Image Profil : </ion-label>
            <ion-input formControlName="imageUrl"></ion-input>
         </p>-->
         <ion-button type="submit" [disabled]="userForm.invalid">Enregistrer</ion-button>
     </form>
 </div>
</ion-content>