<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Catalogue</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-text-center ion-padding">
  
    <div *ngIf="products.length === 0; else prodList">
      <ion-input type="text" name="search" [(ngModel)]="searchTerm" placeholder="Start searching"></ion-input>
      <ion-icon name="search-sharp"></ion-icon><br>
      <ion-icon *ngIf="authService.isAdmin" type="button" (click)="insertProduct()" name="add-circle-outline"></ion-icon>
    
      <p>loading...</p>
    </div>

    <ng-template #prodList>
    <div>

    <ion-label for="search">Search: </ion-label>
    <ion-input id="search" type="text" [(ngModel)]="searchTerm" placeholder="Filter products"></ion-input>
  
    <ion-icon *ngIf="authService.isAdmin" type="button" (click)="insertProduct()" name="add-circle-outline"></ion-icon>
  
      
    <div *ngFor="let product of products | productSearch:searchTerm">
      <ion-card>
        <img [src]="product.imageUrl" width="300px" />

        <ion-card-header>
          <ion-card-title>{{ product.productName }}</ion-card-title>

          <ion-icon name="create-outline"
          *ngIf="authService.isAdmin"
          (click)="modifProduct(product.id)"
          ></ion-icon>

          <ion-icon name="trash-outline"
          *ngIf="authService.isAdmin"
          (click)="deleteProduct(product.id)"
          ></ion-icon>

          <ion-card-subtitle>Prix : {{ product.price }} CHF</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ product.description }}     
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ng-template>

</ion-content>

