<div style="display: flex; justify-content: center;"></div>
<h3>Product list</h3>
<div>
    <label for="search">Search: </label>
    <input id="search" type="text" [(ngModel)]="searchTerm" placeholder="Filter products" />
</div>
  <!-- <div *ngIf="products$ | async as products">-->
    <div>
    <button (click)="toggleImage()">Show/Hide images</button>
    <!-- <table *ngIf="products.length > 0; else noProductTemplate"-->
        <table
        border="1"
        cellspacing="0"
        cellpadding="10">
        <thead>
            <tr>
                <td>ID</td>
                <td *ngIf="displayImage">Image</td>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>Rating</td>
                <td>X</td>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let product of products | productSearch:searchTerm">  -->
                <tr *ngFor="let product of products"> 
                   
                <td>
                    <!-- <a [routerLink]="product.id">#{{ product.id }}</a> -->
                </td>
                <td *ngIf="displayImage">
                    <img [src]="product.image" width="30px" />
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.prix }}</td> 
                <td>
                    <!-- <app-star [(rating)]="product.starRating"></app-star> -->
                </td>
                <td><!-- <a [routerLink]="product.id">#{{ product.id }}</a> -->
                <!--<button (click)="deleteProduct(product.id)">X</button> -->
                <button>X</button> 
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #noProductTemplate>
        <h4>No product available! You can save money 💵💵💵 ;-)</h4>
    </ng-template>
</div>
<div>
  <!-- <button (click)="refreshProducts()">Refresh products</button> -->
</div>

  <div> 
     <button type="button" [routerLink]="['/product', 'insert']">Insert the product</button> 
  </div> 