<!-- <app-mes-reservations></app-mes-reservations> -->
    <ion-tabs>
    <!-- <ion-tab-bar [hidden]="!authService.isAdmin" slot="bottom">-->
        <ion-tab-bar  *ngIf="authService.isAdmin" slot="bottom"> <!-- pas implenter-->
        <ion-tab-button tab="reservations">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Les reservations</ion-label>
      
        </ion-tab-button>

        <ion-tab-button tab="personalreservation">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Mes reservations</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>