<ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Les réservations</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-text-center">

<div *ngIf="reservations.length === 0; else resaList">
    loading...
  </div>

<ng-template #resaList>
  <div>
    <input type="text" name="search" [(ngModel)]="searchTerm" placeholder="Start searching">
   
    <button *ngIf="authService.isAdmin" type="button" (click)="insertReservation()">Insert the reservation</button> 
    <!-- <a routerLink="page">Page</a> -->
 </div> 

  <br>
    <div *ngFor="let res of reservations | reservationSearch:searchTerm">
      <div>Nom : {{ res.name }}

        <button
        *ngIf="authService.isAdmin"
        color="primary"
        (click)="modifReservation(res.id)"
      > <!-- passer l'id dans les fonctions -->
        Modifier
      </button>
      <button
      *ngIf="authService.isAdmin"
        color="primary"
        (click)="deleteReservation(res.id)"
      >
      <!-- passer l'id dans les fonctions -->
        Supprimer 
      </button>
      </div>
      <div>
        {{ res.type }}
      </div>
      <div>Employée : {{ res.employe }}</div>
      <div>Heure : {{ res.heure }}</div>
      <div>Date : {{ res.date }}</div>
      <br />
    </div>
  </ng-template>
</ion-content>
