<ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Les réservations</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-text-center ion-padding">

<div *ngIf="reservations.length === 0; else resaList"  class="ion-text-center">
  <ion-icon type="button" (click)="insertReservation()" name="add-circle-outline"></ion-icon>
    <p>Aucune réservation</p>
</div>

<ng-template #resaList>
  <div class="ion-text-center">
    <ion-input type="text" name="search" [(ngModel)]="searchTerm" placeholder="Start searching"></ion-input>
    <ion-icon name="search-sharp"></ion-icon>
    <br>
    <ion-icon *ngIf="authService.isAdmin" type="button" (click)="insertReservation()" name="add-circle-outline"></ion-icon>
 </div> 

  <br>
  <ion-grid>
    <ion-row *ngFor="let res of reservations | reservationSearch:searchTerm" class="ion-text-center" style="border-bottom: 1px solid gray; margin-bottom:15px;">
      <ion-col>
        <div>Nom Client : {{ res.name }}</div>
      </ion-col>
      <ion-col>
        <div>Date : {{ res.date }} à {{ res.heure }}</div>
      </ion-col>
      <ion-col>
        <div>Type Prestation : {{ res.type }}</div>
      </ion-col>
      <ion-col>
        <div>Spécialiste : {{ res.employe }}</div>
      </ion-col>

      <ion-col>
        <div>
          <ion-icon 
                name="create-outline"
                *ngIf="authService.isAdmin"
                (click)="modifReservation(res.id)"
                style="margin-right:10px"
              >
              </ion-icon>

              <ion-icon 
                name="trash-outline"
                *ngIf="authService.isAdmin"
                (click)="deleteReservation(res.id)"
              >
              </ion-icon> 

        </div>
      </ion-col>
    </ion-row>
    <tr></tr>
  </ion-grid>
  </ng-template>
</ion-content>
