<ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Les réservations</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-text-center">

<div *ngIf="reservations.length === 0; else resaList">
    loading...
  </div>

<ng-template #resaList>
  <div>
    <input type="text" name="search" [(ngModel)]="searchTerm" placeholder="Start searching">
    <ion-icon name="search-sharp"></ion-icon><br>
    <!-- <button *ngIf="authService.isAdmin" type="button" (click)="insertReservation()">Insert the reservation</button> -->
  
    <ion-icon *ngIf="authService.isAdmin" type="button" (click)="insertReservation()" name="add-circle-outline"></ion-icon>
 </div> 

  <br>
    <div *ngFor="let res of reservations | reservationSearch:searchTerm">
      <div>Nom : {{ res.name }}

        <!-- <button
        *ngIf="authService.isAdmin"
        color="primary"
        (click)="modifReservation(res.id)"
      > 
        Modifier
      </button> 

      <button
      *ngIf="authService.isAdmin"
        color="primary"
        (click)="deleteReservation(res.id)"
      >
    
        Supprimer 
      </button> -->

      <ion-icon name="create-outline"
        *ngIf="authService.isAdmin"
        (click)="modifReservation(res.id)"
      ></ion-icon>

      <ion-icon name="trash-outline"
        *ngIf="authService.isAdmin"
        (click)="deleteReservation(res.id)"
      ></ion-icon>
      
      </div>
      <div>
        {{ res.type }}
      </div>
      <div>Employée : {{ res.employe }}</div>
      <div>Heure : {{ res.heure }}</div>
      <div>Date : {{ res.date }}</div>
      <br />
    </div>
  </ng-template>
</ion-content>
