<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Les utilisateurs</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-icon *ngIf="authService.isAdmin" type="button" (click)="insertUser()" name="add-circle-outline"></ion-icon>
     </ion-buttons> -->
    </ion-toolbar>
</ion-header>
  <ion-content color="light" class="ion-text-center ion-padding">
    
      <div *ngIf="users?.length === 0; else userList">
          <p>Aucun utilisateur...</p>
      </div>

    <ng-template #userList>
      <div>
         <ion-item>
          <ion-input type="search" name="search" [(ngModel)]="searchTerm" placeholder="Filtrer la liste">
          </ion-input>
          <ion-icon name="search-sharp" slot="end"></ion-icon>
        </ion-item>
        <br>
      </div> 

        <div *ngFor="let user of users | userSearch:searchTerm">
           
              <ion-card>
                <img src="https://cdn1.iconfinder.com/data/icons/user-interface-1-glyph/32/ui_avatar_profil_user_circle-512.png" width="150px" />
                <ion-card-header>
                  <ion-card-title><a [routerLink]="['/user-detail', user.id]">{{user.email}}</a></ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Nom : {{ user.displayName}} </p>
                  <p>Privilège : {{ user.type }} </p>
                  <p>N° tél : {{ user.tel }} </p> 
                  <br>
                  <!-- <ion-icon 
                    name="create-outline"
                    *ngIf="authService.isAdmin"
                    (click)="updateUserWithUID(user.id)"
                  >
                  </ion-icon>
              
                  <ion-icon name="trash-outline"
                    *ngIf="authService.isAdmin"
                    (click)="deleteUser(user.id)"
                  ></ion-icon>-->
                </ion-card-content>
              </ion-card>   
        </div>
</ng-template>

</ion-content>
