div{
    display:inline-block;
    width:18px;
    height: 18px;
    background-size: contain;
    background-image: url('src/assets/icon-star-empty.svg'); 
}

div.filled{
    background-image: url('src/assets/icon-star-filled.svg');    
}