<div>
    <h2>Les produits</h2>
     
   
    <div>
        <input type="text" name="search" [(ngModel)]="searchProduct" placeholder="Start searching">
    </div>
    <p>Search result : {{ searchProduct }}</p>

    <table *ngIf="products.length > 0; else noProductTemplate"
    border="1"
    cellspacing="0"
    cellpadding="10"
    >
        <thead>
            <tr>
                <td>ID</td>
                <td *ngIf="imageIsShown">Image</td>
                <td>Name</td>
                <td>Code</td>
                <td>Release</td>
                <td>Date</td>
                <td>Price</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody  *ngFor="let product of products | filter:searchProduct"> <!-- filter: nomCreeDansProductComponent-->
            <tr>
                <td>{{ product.id }}</td>
                <td *ngIf="imageIsShown" >
                    <a [href]="product.imageUrl" target="_blank">
                        <img [src]="product.imageUrl" width="30px">
                    </a>
                    <!-- [href] -> data binding ? -> [] -> correspond à une valeur qu'il doit chercher quelque part dans une variable etc. -->
                </td>
                <td>{{ product.productName }}</td>
                <td>{{ product.productCode }}</td>
                <td>{{ product.releaseDate }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <!-- <td>{{ product.starRating }} {{ rating }} </td> -->
                <!-- 2. Affichage de l'info -->
                <td>
                    <app-star [rating]="product.starRating" (ratingClicked)="product.starRating = $event"></app-star>
                </td>
            </tr>
        </tbody>
    </table>
</div>
