<div>
    <h2>Les produits</h2>
    <button (click)="toggleImage()">Show/Hide Image</button>
   
    <div>
        <input type="text" name="search" [(ngModel)]="searchProduct" placeholder="Start searching">
    </div>
    <p>Search result : {{ searchProduct }}</p>

    <table *ngIf="products.length > 0; else noProductTemplate"
    border="1"
    cellspacing="0"
    cellpadding="10"
    >
        <thead>
            <tr>
                <td>ID</td>
                <td *ngIf="imageIsShown">Image</td>
                <td>Name</td>
                <td>Code</td>
                <td>Release</td>
                <td>Date</td>
                <td>Price</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody  *ngFor="let product of products | filter:searchProduct"> <!-- filter: nomCreeDansProductComponent-->
            <tr>
                <td>{{ product.id }}</td>
                <td *ngIf="imageIsShown" >
                    <img [src]="product.imageUrl" width="30px">
                </td>
                <td>{{ product.productName }}</td>
                <td>{{ product.productCode }}</td>
                <td>{{ product.releaseDate }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.starRating }}</td>
            </tr>
        </tbody>
    </table>
</div>
