<app-reservation></app-reservation>
<h3>Les réservations </h3>

<div *ngIf="reservations.length === 0; else resaList">
    loading...
  </div>

<ng-template #resaList>
  <div>
    <input type="text" name="search" [(ngModel)]="searchReservation" placeholder="Start searching">
  </div>

  <br>
    <div *ngFor="let res of reservations">
      <div>Nom : {{ res.name }}</div>
      <div>
        {{ res.type }}
        <button
          mat-stroked-button
          color="primary"
        >
          Modifier
        </button>

        <button
          mat-stroked-button
          color="primary"
        >
          Supprimer
        </button>
      </div>
      <br />
    </div>

    <div> 
      <button type="button" [routerLink]="['/reservation', 'insert']">Insert the reservation</button> 
   </div> 
  
  </ng-template>

  <router-outlet></router-outlet>
