<ion-header>
    <ion-toolbar>
      <ion-buttons>
      <ion-menu-button slot="start"></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  <div id="centerElements">

<h1 style="text-align: center;">Dashboard</h1>

<div style="display: flex; flex-wrap: wrap; margin: 45px; justify-content: center;justify-content: space-around;">

<i class="fas fa-clock" style="font-size:100px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>

<i class="fas fa-user" style="font-size:100px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>

<i class="fas fa-clock" style="font-size:100px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>

<i class="fas fa-calendar" style="font-size:100px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>


</div>

<div style="display: flex; flex-wrap: wrap; margin: 45px; justify-content: center; justify-content: space-around;">

    <i class="fas fa-clock" style="font-size:100px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>
    
    <i class="fas fa-user" style="font-size:100px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>
    
    <i class="fas fa-clock" style="font-size:100px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>
    
    <i class="fas fa-wrench" style="font-size:100px;color:lightblue;text-shadow:2px 2px 4px #000000;"></i>
    
   
</div>


</div>
</ion-content>


   