<ion-menu side="start" menuId="first" contentId="main">
	<ion-header>
	  <ion-toolbar color="primary">
		<ion-title>Menu
	   <span class="example-app-name"
	  
	  *ngIf="authService.isAdmin"
	  >[COMPTE ADMIN]  
	</span>

		</ion-title>
	  </ion-toolbar>
	</ion-header>
	<ion-content>
	  <ion-list>
		  <!-- Question ICI sur ce que j'ai mis en commentaire par rapport à mon beug -->
		<ion-item 
				[hidden]="!authService.isAuth && nav.route !== 'register' || authService.isAuth && nav.route === 'register' " 
				[routerLink]="nav.route" 
				*ngFor="let nav of fillerNav">
			<ion-icon [name]="nav.icon"></ion-icon> 
			 {{nav.name}}
		</ion-item>

		<!-- <ion-item 
				[routerLink]="nav.route" 
				*ngFor="let nav of fillerNav">
			<ion-icon [name]="nav.icon"></ion-icon> 
			 {{nav.name}}
		</ion-item>-->
		<!-- <ion-item (click)="authService.signOut()" [hidden]="!authService.isAuth">-->
		<ion-item (click)="authService.signOut()" [hidden]="!authService.isAuth">
			Sign Out
		</ion-item>
	
		<!-- Highlitable ? mettre en évidence le sign out -->
	  </ion-list>
	</ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

