<ion-menu side="start" menuId="first" contentId="main">
	<ion-header>
	  <ion-toolbar color="primary">
		<ion-title>Menu
	   		<span class="example-app-name"*ngIf="authService.isAdmin">[COMPTE ADMIN]</span>
		</ion-title>
	  </ion-toolbar>
	</ion-header>
	<ion-content>
	  <ion-list>
		  <div *ngIf="authService.isAdmin">
		  <ion-item 
				[hidden]="!authService.isAuth && nav.route !== 'register' || authService.isAdmin && nav.route === 'register' " 
				[routerLink]="nav.route" 
				*ngFor="let nav of fillerNav">
			<ion-icon [name]="nav.icon"></ion-icon> 
			 {{nav.name}}
		</ion-item>
	</div>

		<div *ngIf="!authService.isAdmin"> <!-- si c'est pas un admin alors j'entre dans cette condition-->
		<ion-item 
				[hidden]="!authService.isAuth && nav.route !== 'register' || !authService.isAdmin && nav.route === 'register' " 
				[routerLink]="nav.route" 
				*ngFor="let nav of fillerNavUserNormal">
			<ion-icon [name]="nav.icon"></ion-icon> 
			 {{nav.name}}
		</ion-item>
	   </div>
	
		<ion-item (click)="authService.signOut()" [hidden]="!authService.isAuth">
			<!-- <ion-item (click)="authService.signOut()" [hidden]="!authService.isAuth"> -->
			<ion-icon name="log-out-outline"></ion-icon>
			Se déconnecter
		</ion-item>
	
		<!-- Highlitable ? mettre en évidence le sign out -->
	  </ion-list>
	</ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

