<ion-menu side="start" menuId="first" contentId="main">
	<ion-header>
	  <ion-toolbar color="primary">
		<ion-title>Menu
	   <span class="example-app-name"
	  *ngIf="authService.isAdmin"
	  >[COMPTE ADMIN]</span>
		</ion-title>
	  </ion-toolbar>
	</ion-header>
	<ion-content>
	  <ion-list>
		<ion-item 
				[hidden]="!authService.isAuth && nav.route !== 'register' || authService.isAuth && nav.route === 'register' " 
				[routerLink]="nav.route" 
				*ngFor="let nav of fillerNav">
			<ion-icon [name]="nav.icon"></ion-icon> 
			 {{nav.name}}
		</ion-item>
		<ion-item (click)="authService.signOut()" [hidden]="!authService.isAuth">
			Sign Out
		</ion-item>
		<!-- Highlitable ? mettre en évidence le sign out -->
	  </ion-list>
	</ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
	<mat-toolbar color="primary" class="example-toolbar">
	  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
	  <h1 class="example-app-name">ApplicationName  </h1>

	  <h2 class="example-app-name"
	  *ngIf="authService.isAdmin"
	  >COMPTE ADMIN</h2>
	</mat-toolbar>
    
	<mat-sidenav-container class="example-sidenav-container"
						   [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
	  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
				   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
		<mat-nav-list>
	      
	    <a [hidden]="!authService.isAuth && nav.route !== 'register' || authService.isAuth && nav.route === 'register' " mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav">
			 <mat-icon>{{ nav.icon}}</mat-icon> 
			  {{nav.name}}
		</a>

		 <a (click)="authService.signOut()" [hidden]="!authService.isAuth" mat-list-item >
			Sign Out
		 </a>
	
		</mat-nav-list>
	  </mat-sidenav>
  
	  <mat-sidenav-content>
		<router-outlet></router-outlet> -->
		<!-- {{ fillerContent }} -->
	  <!-- </mat-sidenav-content>
	</mat-sidenav-container>
  </div>
  
  <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
-->
<!-- <router-outlet/></router-outlet>  -->
