<ion-header>
  <ion-toolbar> 
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Mes réservations</ion-title>
  <ion-buttons slot="end">
    <ion-icon type="button" (click)="insertReservation()" name="add-circle-outline"></ion-icon>
   </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-text-center ion-padding" color="light">

<div *ngIf="reservation?.length <= 0">
   <ion-skeleton-text animated></ion-skeleton-text>
   <ion-skeleton-text animated></ion-skeleton-text>
   <ion-skeleton-text animated></ion-skeleton-text>
</div>

<div *ngIf="reservation?.length === 0; else resaList" class="ion-text-center">
  <p>Aucune réservation...</p>
</div>

<ng-template #resaList>
<div class="ion-text-center">
  <!-- <ion-input type="text" name="search" [(ngModel)]="searchTerm" placeholder="Recherche">
    <ion-icon class="ion-text-center" name="search-sharp"></ion-icon>
  </ion-input>-->
  <br>
</div> 

<br>
<ion-grid>
<ion-row *ngFor="let res of reservation | reservationSearch:searchTerm" class="ion-text-center" style="border-bottom: 1px solid gray; margin-bottom:15px;">
  <ion-col>
    <div>Nom Client : {{ res.name }}</div>
  </ion-col>
  <ion-col>
    <div>Date : {{ res.date }} à {{ res.heure }}</div>
  </ion-col>
  <ion-col>
    <div>Type Prestation : {{ res.type }}</div>
  </ion-col>
  <ion-col>
    <div>Spécialiste : {{ res.employe }}</div>
  </ion-col>

  <ion-col>
    <div>
          <ion-icon 
            name="trash-outline"
            *ngIf="authService.isAdmin"
            (click)="deleteReservation(res.id)"
          >
          </ion-icon> 
    </div>
  </ion-col>
</ion-row>
<tr></tr>
</ion-grid>
</ng-template>

</ion-content>

