<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes reservation</ion-title>
    </ion-toolbar>
</ion-header>
  <ion-content class="ion-text-center ion-padding">

    <p>En construction</p>

    <!-- <div *ngFor="let res of mesReservations">
        <div>Nom Client : {{ res.name }}</div>
        <div>Date : {{ res.date }}</div>
        <div>Heure : {{ res.heure }}</div>
        <div>Type Prestation : {{ res.type }}</div>
        <div>Spécialiste : {{ res.employe }}</div>
        <br />
    </div> -->

</ion-content>
