<div id="centerElements">
  <br>
  <h1>S'enregistrer</h1>
  <br>
  <br>
 <form [formGroup]="registerForm" class="example-form" (ngSubmit)="register()">
      <ion-label>Nom : </ion-label>
      <ion-input formControlName="name" placeholder="Entrez votre nom"></ion-input>
      <br>
      <ion-label>Email</ion-label>
      <ion-input formControlName="email" placeholder="Entrez votre email"></ion-input>
      <br>    
      <ion-label>Mot de passe</ion-label>
      <ion-input type="password" formControlName="password" placeholder="Entrez votre mot de passe"></ion-input>
      <br>
      <ion-button type="submit">Créer un compte</ion-button>
      <br>
      <p>{{ message }}</p>
</form>
<p>Vous possédez déjà un compte ? <a routerLink="/login">cliquez ici</a></p>

<!-- 
Register form is valid: {{ registerForm.valid }} <br>  
Login form is valid: {{ loginForm.valid }} <br>  

<hr>
{{ result | json }}
<hr>
{{ user | json }}
<br><br>
Bonjour {{ userProfil.displayName }}
-->
</div>
